# Byte-compiled Python files
__pycache__/
*.py[cod]

# Virtual environment directories
venv/
env/

# Ignore everything in the .streamlit directory
.streamlit/*

# Except the config.toml file
!.streamlit/config.toml

# Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/

# macOS specific files
.DS_Store

# Log files
*.log

# Temporary files or directories
*.tmp
*.temp
tmp/
temp/

# Backup files
*~

# Editor directories and files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
